a {
    color: rgb(244, 67, 54);
}

.page-content {
    margin: 8px 40px;
}

.page-content hr:last-child {
    display: none;
}

.account-navigation {
    padding-left: 24px;
}

.form > div > label {
    display: inline-block;
    text-align: left;
    width: 100px;
}

.submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.film {
    display: flex;
    margin: 8px;
}

.film > div:first-child {
    margin-right: 8px;
}

.film > div:last-child {
    margin-left: 8px;
}

.recensione > div:first-child {
    display: flex;
    justify-content: space-between;
}

.recensione > div:last-child {
    text-align: right;
}

.float {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 2;
}

@media screen and (max-width: 1024px) {
    i {
        font-size: 24px;
    }

    .page-content {
        margin: 8px 16px;
        text-align: center;
    }

    .account-navigation {
        padding-left: 16px;
    }

    .film {
        flex-direction: column;
    }

    .float {
        bottom: 16px;
        right: 16px;
    }
}

@media screen and (max-width: 435px) {
    .form > div > label {
        text-align: center;
    }
}