a {
    color: rgb(244, 67, 54);
}

.page-content {
    margin: 8px 40px;
}

.page-content > hr:last-child {
    display: none;
}

.film {
    display: flex;
    margin: 8px;
}

.film > div:first-child {
    margin-right: 8px;
}

.film > div:last-child {
    margin-left: 8px;
}

.form > div > label {
    display: inline-block;
    text-align: left;
    width: 100px;
}

.form > div:last-child {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .page-content {
        margin: 8px 16px;
    }
}