a {
    color: rgb(244, 67, 54);
}

.page-content {
    text-align: -webkit-center;
}

.cell {
    display: flex;
    margin: 8px;
    place-content: center;
}

.form {
    max-width: 400px;
    margin: 8px;
}

.form > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form > div > label {
    width: 100px;
    text-align: left;
}